

html {
  min-height: 100%;
  margin: 0;
}

body {
  background-color: grey;
  margin: 0;
  min-height: 100%;

}

.createWrapper {
  padding-top: 5%;
}

.App {
  text-align: center;
  min-width: 100%;
}

header {
  font-family: "ExocetLight";
}

.nav {
  font-family: "ExocetLight";
}


@font-face {
  font-family: "ExocetLight";
  src: url("ExocetLight.woff") format("woff");
}

@font-face {
  font-family: "Formata";
  src: url("Formata-Regular.woff") format("woff");
}

.about{
  font-family: 'Formata';
  font-weight: normal;
  font-style: normal;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

.nav {
  
  
  position: absolute;
  text-align: center;
  min-width: 100%;
  
}

.nav li {
  display: inline-block;
  /* margin: 0 10px; */
  color: gainsboro;
  /* font-size: 32pt; */
  font-size: 2.65rem;
  margin: 0 .8rem;
  
}

.nav li:hover {
  cursor: pointer;
  text-decoration: underline;
}

#mImage {
  width: 100%;
  height: auto;
}

fieldset {
  border: 0;
  margin-right: 3%;
  margin-left: 3%;
}



input[type=text] {
  width: 100%;
  /* padding: 12px 20px; */
  /* margin: 8px 0; */
  box-sizing: border-box;
  margin: .5rem 0;
  padding: .75rem 1.5rem;
}

input[type=text]:focus {
  border: .2rem solid #555;
}

label {
  color: gainsboro;
  font-size: 1.5rem;
}

textarea {
  width: 100%;
  /* padding: 12px 20px;
  margin: 8px 0; */
  box-sizing: border-box;
  font-family: 'Formata';
  font-weight: normal;
  font-style: normal;
  margin: .5rem 0;
  padding: .75rem 1.5rem;
}

.monsterIndexWrapper {
  padding-top: 5%;
}



legend {
  font-size: 0;
}

.indexList {
  font-size: 1.5rem;
  
}

.indexList li {
  display: inline-block;
  margin-right: .5rem;
  padding-right: .5rem;
  border-right: solid .1rem rgb(173, 173, 173);
}

.indexList li:last-child {
  border: none;
}

a {
  text-decoration: none;
  transition: font-size .05s ease-out .1s
}

a:link {
  color: whitesmoke;
}

a:visited {
  color: rgb(36, 36, 36);
}

a:hover {
  text-decoration: underline;
  font-size: 2rem;
}

a:active {
  color: gold;
}

#createButton {
  background-color: hsl(234, 82%, 35%);
  color: white;
  padding: .5em 1em;
  border-radius: .3em;
  border: none;
  cursor: pointer;
  height: 3rem;
  width: 25%;
  font-size: 115%;
}



#createButton:hover {
  background-color: hsl(234, 81%, 22%);
}


.blue {
  color: #000080;
}

#monName {
  color: #000080;
}

.displayWrapper {
  font-size: 1.5rem;
  background-color: rgb(173, 173, 173);
  margin-top: -2%;
  padding-top: 2%;
  margin-right: -2%;
  padding-right: 4%;
  padding-left: 1%;
  padding-bottom: 3%;
  
}

.templatePageWrapper {
  padding-top: 5%;
  font-family: 'Formata';
  font-weight: normal;
  font-style: normal;
  margin-left: 2.5%;
  margin-right: 2.5%;
}


.tip {
  text-align: left;
  margin-left: 5%;
  margin-right: 5%;
}

h4 {
  color: #000080;
}

.notice {
  font-family: 'Formata';
  font-weight: normal;
  font-style: normal;
}

#hideShow {
  background-color: hsl(234, 80%, 47%);
  color: white;
  padding: .5rem 1rem;
  border-radius: .3rem;
  border: none;
  cursor: pointer;
}

#hideShow:hover {
  background-color: hsl(234, 82%, 35%);
}

.homeLink a {
  font-family: "ExocetLight";
}


@media only screen and (max-width: 600px) {

  html {
    font-size: 4pt;
  }

  #nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
  }

  .monsterIndexWrapper {
    font-size: 200%;
  }

  .indexList {
    font-size: 200%;
    
  }

  .indexList ul {
    display: flex;
    flex-direction: column
  }

  .indexList li {
    border-bottom: solid 1px rgb(58, 58, 58);
  }

  .templatePageWrapper {
    font-size: 200%;
  }
  
  .createWrapper{
    font-size: 200%;
  }

  #hideShow {
    margin-top: 4%;
  }
  
  .notice p {
    margin-bottom: -1%;
  }

  label {
    font-size: 150%;
  }

}